h1 {
  text-align: center;
  color:  blueviolet;
  text-transform: uppercase;
}
h2 {
  background-color:  lightcyan;
  font-family: Papyrus, "Brush Script MT", Monaco;
} 
p {
  text-align: center;   
  color:  green;   
}
                                                                                                                                                                                               font-family: 'Courier New', Courier, monospace;   
                                                                                                                                                                                               background-color:  bisque;
