/*Delany's style Sheet*/
h1 {    
    text-align: center;    
    color: blueviolet;    
    text-transform: uppercase;
   }

h2 {
   background-color: lightcyan;
   font-family: Papyrus, "Brush Script MT", Monaco;
   }

 p {font-size: small;
   color: darkred;
   font-family: 'Courier New', Courier, monospace;
   background-color: bisque;
   }
   ul {
  list-style-type: "★ "; /* I wanted stars :D */
}
  ol {
    list-style-type: upper-roman;
    list-style-position: inside;
    padding-left: 20px;
    }
